
section(class="section__entry")

	//start container

	div(class="container")
		h1(class="title") #{titleEntrySection}

		// start block__entry

		div(class="block__entry" id="entry")

			// start block__timetable
			div(class="block__timetable")
				p(class="date__timetable") #{dateEntrySectionMonday}
				a(class="day__timetable", href="#null") #{morningEntrySection1}
				a(class="day__timetable", href="#null") #{morningEntrySection2}
				a(class="day__timetable" href="#null") #{afternoonEntrySection1}
				a(class="day__timetable" href="#null") #{afternoonEntrySection2}
				a(class="day__timetable", href="#null") #{afternoonEntrySection3}
				a(class="day__timetable", href="#null") #{afternoonEntrySection4}
				a(class="eventide__timetable", href="#null") #{eveningEntrySection1}
				a(class="eventide__timetable", href="#null") #{eveningEntrySection2}
				a(class="eventide__timetable", href="#null") #{eveningEntrySection3}
				a(class="nigth__timetable", href="#null") #{nightEntrySection1}
				a(class="nigth__timetable", href="#null") #{nightEntrySection2}
			// end block__timetable
			
			div(class="block__timetable")
				p(class="date__timetable") #{dateEntrySectionTuesday}
				a(class="day__timetable",  href="#null") #{morningEntrySection1}
				a(class="day__timetable",  href="#null") #{morningEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection1}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection3}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection4}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection1}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection2}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection3}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection1}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection2}

			// end block__timetable

			div(class="block__timetable")
				p(class="date__timetable") #{dateEntrySectionWednesday}
				a(class="day__timetable",  href="#null") #{morningEntrySection1}
				a(class="day__timetable",  href="#null") #{morningEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection1}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection3}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection4}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection1}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection2}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection3}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection1}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection2}

			// end block__timetable

			div(class="block__timetable")
				p(class="date__timetable") #{dateEntrySectionThursday}
				a(class="day__timetable",  href="#null") #{morningEntrySection1}
				a(class="day__timetable",  href="#null") #{morningEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection1}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection3}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection4}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection1}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection2}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection3}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection1}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection2}

			// end block__timetable

			div(class="block__timetable")
				p(class="date__timetable") #{dateEntrySectionFriday}
				a(class="day__timetable",  href="#null") #{morningEntrySection1}
				a(class="day__timetable",  href="#null") #{morningEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection1}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection3}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection4}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection1}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection2}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection3}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection1}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection2}

			// end block__timetable

			div(class="block__timetable")
				p(class="date__timetable") #{dateEntrySectionSaturday}
				a(class="day__timetable",  href="#null") #{morningEntrySection1}
				a(class="day__timetable",  href="#null") #{morningEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection1}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection2}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection3}
				a(class="day__timetable",  href="#null") #{afternoonEntrySection4}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection1}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection2}
				a(class="eventide__timetable",  href="#null") #{eveningEntrySection3}
				a(class="nigth__timetable",  href="#null") #{nightEntrySection1}
				a(class="nigth__timetable", href="#null") #{nightEntrySection2}

			// end block__timetable

		// end block__entry

		// start block__entry_price

		div(class="block__entry_price")
			div(class="price__notConfirmed")
				span(class="item__notConfirmed") 
				p(class="price__text") #{notConfirmed}
			div(class="price__dey")
				span(class="item__dey")
				p(class="price__text") #{priceMorning}
			div(class="price__eventide")
				span(class="item__eventide")
				p(class="price__text") #{priceAfternoon}
			div(class="price__nigth")
				span(class="item__nigth")
				p(class="price__text") #{priceNight}

		// end block__entry_price

	// end container

