header.header

	// start container

	div.container
		a(class="header__logo" href="index.html")
			img(src="images/logo.png", alt="icon__logo")
		a(class="toggle__nav" href="#")
			span 
			span 
			span 

		// start menu

		nav.header__menu
			ul.active
				li
					a(href="#") #{headerListMenu1}
				li
					a(href="#") #{headerListMenu2}
				li
					a(href="#") #{headerListMenu3}
				li
					a(href="#") #{headerListMenuContact}
				span #{headerListMenuPhone}

		// end menu

	div.container

		// start header__content

		div.header__content
			h1(class="header__title") #{title}
			img(class="images" src="images/title__images.png", alt="icon__logo")

			// start row

			div.row

				// start column bootstrap

				div(class="col-xs-12 col-md-8 col-lg-8")
					div(class="container__description")
						div(class="block__description")
							p(class="header__paragraph") #{headerDescription}
							a(class="header__button_reviews" href="#reviews") #{headerButtonReviews}
							a(class="header__button_entry" href="#entry") #{headerButtonEntry}
				div(class="col-xs-12 col-md-4 col-lg-4")
					div(class="container__reulation")
						div(class="block__regulations")
							img(class="icon__human" src="images/icon.png", alt="icon")
							p(class="description__header_content" ) #{headerRegulationsBlock}
							img(class="icon__clock" src="images/icon__clock.png", alt="icon")
							p(class="description__header_content" ) #{headerRegulationsBlockTime}

				// end column bootstrap

			// end row

		// end header__content
		
	// end container

