section(class="section__question")
	div(class="container")
		// start container
		div(class="row")
			// start row
			div(class="col-xs-12 col-md-12 col-lg-6 description__question")
				// start description__question
				h2(class="title__question") #{titleQuestionSection}
				p #{descriptionQuestionBlock} <span> #{headerListMenuPhon}
				p и#{descriptionQuestionBlockBottom}
				// end description__question
			div(class="col-xs-12 col-md-12 col-lg-6 block__question_button")
				// start block__question_button
				button(class="btn__question") #{writeLetterQuestionBlock}
				// end lock__question_button
			// end row
		// end container