section(class="reviews__section" id="reviews")
	// start container

	div(class="container")
		h1(class="title title__entry") #{titleReviews}

		div(class="reviews__carousel")
			div(class="reviews__content_block")
				div(class="content clearfix")
					img(src="images/photo__reviews.jpg", alt="photo")
					p(class="reviews__name") #{nameReviewsBlock}
					p(class="reviews__date") #{dateReviewsBlock}
				div(class="reviews__description")
					p #{descriptionReviewsBlock}
			div(class="reviews__content_block margin__content")
				div(class="content clearfix")
					img(src="images/photo__reviews.jpg", alt="photo")
					p(class="reviews__name") #{nameReviewsBlock}
					p(class="reviews__date") #{dateReviewsBlock}
				div(class="reviews__description")
					p #{descriptionReviewsBlock}
			div(class="reviews__content_block")
				div(class="content clearfix")
					img(src="images/photo__reviews.jpg", alt="photo")
					p(class="reviews__name") #{nameReviewsBlock}
					p(class="reviews__date") #{dateReviewsBlock}
				div(class="reviews__description")
					p #{descriptionReviewsBlock}	
			div(class="reviews__content_block margin__content")
				div(class="content clearfix")
					img(src="images/photo__reviews.jpg", alt="photo")
					p(class="reviews__name") #{nameReviewsBlock}
					p(class="reviews__date") #{dateReviewsBlock}
				div(class="reviews__description")
					p #{descriptionReviewsBlock}
	// end container
